.article-link {
  color: var(--pico-heading-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.article-link:hover {
  color: var(--pico-primary);
  text-decoration: none;
}

.article-item h2 {
  margin-bottom: 0.25rem;
  line-height: 1.2;
}

.brand-logo {
  font-weight: 800;
  font-size: 1.25rem;
  color: var(--pico-heading-color) !important;
  text-decoration: none;
  letter-spacing: -0.5px;
  transition: opacity 0.2s ease;
}

.brand-logo:hover {
  opacity: 0.8;
}

.nav-links a {
  color: #a3ccff !important;
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  text-decoration: none;
}

.nav-links a:hover {
  color: #a3ccff !important;
  background: transparent;
  border-bottom-color: #a3ccff;
  text-decoration: none;
}

/* .article-list article, */
/* .article-item { */
/*   background: transparent !important; */
/*   border: none !important; */
/*   box-shadow: none !important; */
/*   padding-left: 0 !important; */
/*   margin-bottom: 3rem !important; */
/* } */

.article-meta time {
  font-size: 0.7rem;
  color: #637588;
  text-transform: uppercase;
  letter-spacing: 0;
}

.article-meta {
  color: var(--pico-muted-color);
  font-size: 0.85rem;
  margin-bottom: 0;
}

/* .article-item { */
/*   margin-bottom: 2rem; */
/*   padding-bottom: 1rem; */
/*   border-bottom: 1px solid var(--pico-muted-border-color); */
/* } */

.article-list article,
.article-item {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}


/* .article-list h2 a { */
/*   color: var(--pico-heading-color); */
/*   text-decoration: none; */
/* } */
/**/
/* .article-list h2 a:hover { */
/*   color: var(--pico-primary); */
/*   text-decoration: underline; */
/* } */
/**/
.article-list h2 {
  color: var(--pico-heading-color);
  margin-bottom: 0 !important;
}

.article-list .article-meta {
  margin-top: 0 !important;
}

.article-list article {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  background: transparent !important;
  border: none !important;
}
