%h3 Hi! My name is Mike.
.panel
  %p
    Nice to see you here. Really.
  %p
    I started this blog about five years ago and it has been growing with me, my interests and time.
    I like programming, Unix, cyberpunk and many other geek stuff. I used to work in Robotics,
    so I am still interested in news at this area. And, yeah, it is also connected with cyberpunk.
  %p
    Since 2009 I was an coordinator of Ulyanovsk Linux User Group (now this community is frozen).
    This awesome time gave a lot of experience in event organization, public speaking. Maybe
    that's why I love hackathons and crazy time in it.
  %p
    Right now I work mostly with Ruby on Rails, Linux and a bit of Javascript. You can find
    my Github account on the contact page. One year ago I found a Docker project and use it
    day by day. Maybe you can call me an enthusiast, I don't mind. So, I am ready to write
    something interesting and share my thougths :)
  %p
    Finally, I have a little hobby: I lead an <a href="https://instagram.com/cyberpunkart">@cyberpunk</a>
    account on the Instagram. I like to find awesome cyberpunk arts and share them to others.
    I don't have any commercial profit from it and trying to make a full link to the author's sources. Look at it!
    This account has a lot of interesting arts. I'm sure that you will like them all if you
    love cyberpunk like me.
  %p
    Have a good time!
