.content
  %h3 Hi! My name is Mike.
  %p
    Hey, nice to meet you!
  %p
    My name is Mike. Many years I used to work with Linux
    on servers, embedded devices, etc. My cv
    %a{ href: 'https://cv.dronov.net' } Here.
  %p
    Here it is the place where I try to write something useful.
