.content
  %h3 Hi! My name is Mike.
  %p
    Hey, nice to meet you!
  %p.nav-links
    My name is Mike. Many years I used to work with Linux
    on servers, embedded devices, etc. My cv
    %a{ href: 'https://cv.dronov.net' } here.
  %p
    Here it is the place where I try to write something useful.

  %h3 Keep in touch!
  %p You can easily contact with me using these contacts:
  %ul.nav-links
    %li Email: dronovmm@proton.me
    %li= link_to "Telegram", "https://t.me/dronov"
    %li= link_to "LinkedIn", "https://www.linkedin.com/in/mike-dronov/"
    %li= link_to "Github", "https://github.com/dronov"
